h1{
    color: rebeccapurple;
}
table,tr, th, td {
    border: 2px solid brown;
    border-collapse: collapse;
}
tr:nth-child(2){
    background-color: aqua;
}

tr:first-child {
    background-color: rgb(98, 255, 0);
}
